
:root {
    --gridSize: 16;
    --randRed: 0;
    --randGreen: 0;
    --randBlue: 0;
}

h1 {
    color: blue;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), auto);
    grid-gap: 3px;
    height: 480px;
    width: 480px;
}

.gridPixel {
    background-color: red;
}

.filledPixel {
    background-color: blue;
}

.randPixelColor {
    background-color: rgb(var(--randRed), var(--randGreen), var(--randBlue))
}

/*
.gridPixel:hover {
    background-color: blue;
}
*/